<div id="img-display-container" #imgDisplayContainer class="flex-center"
    [style.flex-direction]="height > width ? 'column' : 'row'"
    [style.height]="adjustedHeight"
>
    <ng-template [ngIf]="originalImgUrl">
        <figure [style.max-height]="height > width ? 'calc(50% - 2rem)' : null">
            <figcaption class="text-center">Original Image</figcaption>
            <img id="original-img" #originalImg [src]="originalImgUrl" alt="Original image" (load)="handleImgLoad()" />
        </figure>
        <figure [style.max-height]="height > width ? 'calc(50% - 2rem)' : null">
            <figcaption class="text-center">Filtered Image</figcaption>
            <canvas #canvas></canvas>
        </figure>
    </ng-template>
</div>